## Python Pandas with HTML

In [1]:
import pandas as pd

In [3]:
html=pd.read_html("https://en.wikipedia.org/wiki/Mobile_country_code")

In [11]:
## finding the talbe by indexing
html[0].head()

,MCC,MNC,Brand,Operator,Status,Bands (MHz),References and notes
0,1,1,TEST,Test network,Operational,any,NaN
1,1,1,TEST,Test network,Operational,any,NaN
2,999,99,NaN,Internal use,Operational,any,"Internal use in private networks, no roaming[6]"
3,999,999,NaN,Internal use,Operational,any,"Internal use in private networks, no roaming[6]"

In [10]:
html[1].head()

,Mobile country code,Country,ISO 3166,Mobile network codes,National MNC authority,Remarks
0,289,A Abkhazia,GE-AB,List of mobile network codes in Abkhazia,NaN,MCC is not listed by ITU
1,412,Afghanistan,AF,List of mobile network codes in Afghanistan,NaN,NaN
2,276,Albania,AL,List of mobile network codes in Albania,NaN,NaN
3,603,Algeria,DZ,List of mobile network codes in Algeria,NaN,NaN
4,544,American Samoa (United States of America),AS,List of mobile network codes in American Samoa,NaN,NaN

In [17]:
html=pd.read_html("https://en.wikipedia.org/wiki/Economy_of_the_United_States",match="Government debt")

In [18]:
html[0]

,0,1
0,"New York City, the world’s principal fintech a...","New York City, the world’s principal fintech a..."
1,Currency,United States dollar (USD) US Dollar Index
2,Fiscal year,October 1 – September 30
3,Trade organizations,"WTO, G-20, G7, OECD, USMCA, APEC and others"
4,Country group,Developed/Advanced[4] High-income economy[5] D...
5,Statistics,Statistics
6,Population,"340,332,281 (August 30, 2023)[7]"
7,GDP,$27.97 trillion (nominal; 2024 est.)[8] $27.97...
8,GDP rank,1st (nominal; 2023) 2nd (PPP; 2023)
9,GDP growth,2.1% (2022)[9] 2.1% (2023f)[9] 1.5% (2024f)[9]
10,GDP per capita,"$83,060 (nominal; 2024)[8] $83,060 (PPP; 2024)[8]"
11,GDP per capita rank,7th (nominal; 2023) 10th (PPP; 2023)
12,GDP by sector,Agriculture: 0.9% Industry: 18.9% Services: 80...
13,GDP by component,Household consumption: 68.4% Government consum...
14,Inflation (CPI),3% (2023)[10]
15,Population below poverty line,11.6% (2021)[11] 38 million (2021)[11]
16,Gini coefficient,"49.4 high (2021, USCB)[12] 43.4 medium (2017,..."
17,Human Development Index,0.921 very high (2021)[14] (21st) 0.819 very ...
18,Labor force,"161,200,000 (2023)[16] 62.4% employment rate (..."
19,Labor force by occupation,Agriculture: 1.0% Industry: 19% Services: 80% ...
20,Unemployment,3.4% (January 2023)[16] 10.4% youth unemploym...
21,Average gross salary,"$5,407 / €5,052 monthly[18] (2022)"
22,Average net salary,"$4,066 / €3,799 monthly[19][20] (2022)"
23,Main industries,Petroleumsteelmotor vehiclesaerospacetelecommu...
24,External,External
25,Exports,$3.053 trillion (2023)[21]
26,Export goods,Agricultural products 10.7%Fuels and mining pr...
27,Main export partners,European Union(-) 18.3% Canada(-) 17.5% Mexico...
28,Imports,$3.827 trillion (2023)[21]
29,Import goods,Agricultural products 10.5%Fuels and mining pr...
30,Main import partners,European Union(+) 23.6% Mexico(+) 15.4% China(...
31,FDI stock,Inward: $367 billion (2021)[25] Outward: $403...
32,Current account,−$985.25 billion (2022)[26] −3.93% of GDP (20...
33,Gross external debt,$27 trillion (2023)[27]
34,Public finances,Public finances
35,Government debt,$30.568 trillion 122.1% of GDP (2022)[26]
36,Budget balance,–5.5% of GDP (2022)[28]
37,Revenues,$8.371 trillion[26] 33.4% of GDP (2022)
38,Expenses,$9.379 trillion[26] 37.4% of GDP (2022)
39,Economic aid,"donor: ODA, $35.26 billion (2017)[29]"
40,Credit rating,Standard & Poor's:[30][31] AA+ (Domestic) AA+ ...
41,Foreign reserves,$217 billion (2023)[35]
42,Main data source: CIA World Fact Book All valu...,Main data source: CIA World Fact Book All valu...

In [22]:
html=pd.read_html("https://en.wikipedia.org/wiki/Minnesota",match="Average daily maximum and minimum temperatures for selected cities in Minnesota")

In [23]:
html[0]

              Location July (°F) July (°C) January (°F) January (°C)
0          Minneapolis     83/64     28/18         23/7       −4/−13
1           Saint Paul     83/63     28/17         23/6       −5/−14
2            Rochester     82/63     28/17         23/3       −5/−16
3               Duluth     76/55     24/13         19/1       −7/−17
4            St. Cloud     81/58     27/14        18/−1       −7/−18
5              Mankato     86/62     30/16         23/3       −5/−16
6  International Falls     77/52     25/11        15/−6       −9/−21

In [24]:
type(html[0])

pandas.core.frame.DataFrame

In [25]:
html[0].to_html("demo.html")